<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="is.hi.teymi9.gefins">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"
            android:label="@string/login_activity_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UsersiteActivity">
        </activity>
        <activity android:name=".RegisterActivity"
            android:label="@string/register_activity_label">
        </activity>
        <activity android:name=".EditUserActivity"
            android:label="@string/edit_user_activity_label">
        </activity>
        <activity android:name=".AddAdActivity"
            android:label="@string/add_ad_activity_label">>
        </activity>
        <activity android:name=".DisplayAdsActivity"
            android:label="@string/display_ads_activity_label">
        </activity>
        <activity android:name=".DisplaySingleAdActivity"
            android:label="@string/display_single_ad_activity_label">
        </activity>
        <activity android:name=".EditAdActivity"
            android:label="@string/edit_ad_activity_label">
        </activity>
        <activity android:name=".SearchTypeActivity"
            android:label="@string/search_type_activity_label">
        </activity>
        <activity android:name=".AdminActivity"
            android:label="@string/admin_activity_label">
        </activity>
        <activity android:name=".addCommentActivity"
            android:label="@string/add_comment_activity_label">
        </activity>
        <activity android:name=".DisplayCommentActivity"
            android:label="@string/display_comment_activity_label">
        </activity>
        <activity android:name=".WriteMessageActivity"
            android:label="@string/write_message_activity_label">
        </activity>
        <activity android:name=".InboxActivity"
            android:label="@string/inbox_activity_label">
        </activity>
        <activity android:name=".MessageDetailsActivity"
            android:label="@string/message_details_activity_label">
        </activity>
        <activity android:name=".OutboxActivity"
            android:label="@string/outbox_activity_label">
        </activity>
        <activity android:name=".AdminDeleteUserActivity"
            android:label="@string/admin_delete_user_activity_label">
        </activity>
        <activity android:name=".AdminDeleteAdActivity"
            android:label="@string/admin_delete_ad_activity_label">
        </activity>

    </application>

</manifest>

